<div style="border-radius: 4px; border:solid #B1B1B1 2px; padding: 20px; box-shadow: 0.5px 0.5px 0.5px;"> 

## Review Iteration
### Review Iteration 1

Hello Stephanie üòä!

My name is Warrie Warrie. I'm happy to review your project today.

When I see mistake at the first time, I will just point it out. I let you find it and fix it by yourself. I'm trying to prepare you to work as an Data Analyst. So, at a real job, your team lead will do the same. But if you can't handle this task yet, I will give you a more accurate hint at the next iteration.

You will find my comments below - **please do not move, modify or delete them**.

You can find my comments in green, yellow or red boxes like this:

<div class="alert alert-success"; style="border-left: 5px solid green">
<b>‚úÖ Reviewer's comment</b> <a class="tocSkip"></a>

Success. Everything is done succesfully.
</div>

 <div class="alert alert-warning"; style="border-left: 5px solid gold">
<b>‚ö†Ô∏è Reviewer's comment</b>  <a class="tocSkip"></a>

Remarks. Some recommendations.
</div>

 <div class="alert alert-danger"; style="border-left: 5px solid red">

<b>‚õîÔ∏è Reviewer's comment</b>  <a class="tocSkip"></a>

Needs fixing. The block requires some corrections. Work can't be accepted with the red comments.
</div>

You can answer me by using this:

<div class="alert alert-info"; style="border-left: 5px solid #00BFFF">
<b>Student answer.</b> <a class="tocSkip"></a>

</div>

<div class="alert alert-warning"; style="border-left: 5px solid danger">
<div class="alert alert-block alert-warning">
    
## Review 2nd Iteration


Hello Stephanie üòä!

Thank you for submitting your project based on the feeback received.

You will find my new comments in green, yellow or red boxes with an inclusion of the text **v2**.

<div class="alert alert-warning"; style="border-left: 5px solid danger">
<div class="alert alert-block alert-warning">
    
## Review 3rd Iteration


Hello Stephanie üòä!

Thank you for submitting your project based on the feeback received.

You will find my new comments in green, yellow or red boxes with an inclusion of the text **v3**.

<div class="alert alert-warning"; style="border-left: 5px solid danger">
<div class="alert alert-block alert-warning">
    
## Review 4th Iteration


Hello Stephanie üòä!

Thank you for submitting your project based on the feeback received.

You will find my new comments in green, yellow or red boxes with an inclusion of the text **v4**.

# Y.Music

# Contents <a id='back'></a>

* [Introduction](#intro)
* [Stage 1. Data overview](#data_review)
    * [Conclusions](#data_review_conclusions)
* [Stage 2. Data preprocessing](#data_preprocessing)
    * [2.1 Header style](#header_style)
    * [2.2 Missing values](#missing_values)
    * [2.3 Duplicates](#duplicates)
    * [2.4 Conclusions](#data_preprocessing_conclusions)
* [Stage 3. Testing the hypotheses](#hypotheses)
    * [3.1 Hypothesis 1: user activity in the two cities](#activity)
    * [3.2 Hypothesis 2: music preferences on Monday and Friday](#week)
    * [3.3 Hypothesis 3: genre preferences in Springfield and Shelbyville](#genre)
* [Findings](#end)

## Introduction <a id='intro'></a>
Whenever we're doing research, we need to formulate hypotheses that we can then test. Sometimes we accept these hypotheses; other times, we reject them. To make the right decisions, a business must be able to understand whether or not it's making the right assumptions.

In this project, you'll compare the music preferences of the cities of Springfield and Shelbyville. You'll study real Y.Music data to test the hypotheses below and compare user behavior for these two cities.

### Goal: 
Test three hypotheses:
1. User activity differs depending on the day of the week and from city to city. 
2. On Monday mornings, Springfield and Shelbyville residents listen to different genres. This is also true for Friday evenings. 
3. Springfield and Shelbyville listeners have different preferences. In Springfield, they prefer pop, while Shelbyville has more rap fans.

### Stages 
Data on user behavior is stored in the file `/datasets/music_project_en.csv`. There is no information about the quality of the data, so you will need to explore it before testing the hypotheses. 

First, you'll evaluate the quality of the data and see whether its issues are significant. Then, during data preprocessing, you will try to account for the most critical problems.
 
Your project will consist of three stages:
 1. Data overview
 2. Data preprocessing
 3. Testing the hypotheses
 
[Back to Contents](#back)

<div class="alert alert-block alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Great start Stephanie! Always remember to include this section in future projects. It will help the reader to understand what you are going to do and how you are going to do it.
    
    
    
In addition; 
    
    
<b>Remarks and tipsüìå:</b>  It is important to start your project with the comprehensive introduction within which you fix the aim of the analysis, its task and create the content plan of the main steps of conduction of the project. Please, pay more attention to the formatting of your project for use in subsequent project!
As a way to construct your content plan. You can use Markdown notation and format of clickabale links.
you can find some useful materialsüòé    
<a href="https://medium.com/analytics-vidhya/the-ultimate-markdown-guide-for-jupyter-notebook-d5e5abf728fd" title="Markdown ">And one more</a> great material for effective using of Markdown!
</div>
</div>

## Stage 1. Data overview <a id='data_review'></a>

Open the data on Y.Music and explore it.

You'll need `pandas`, so import it.

In [4]:
import pandas as pd# importing pandas

<div class="alert alert-block alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Good job importing Pandas library with the alias `pd`. 

N/b: For clean code readbility in jupyter notebook. All library importation should be done in one cell at the beginning of the project.
</div>

Read the file `music_project_en.csv` from the `/datasets/` folder and save it in the `df` variable:

In [5]:
df = pd.read_csv('/datasets/music_project_en.csv')# reading the file and storing it to df

In [6]:
df.describe()

          userID  Track     artist  genre       City        time     Day
count      65079  63736      57512  63881        65079     65079   65079
unique     41748  39666      37806    268            2     20392       3
top     A8AE9169  Brand  Kartvelli    pop  Springfield  21:51:22  Friday
freq          76    136        136   8850        45360        14   23149

<div class="alert alert-block alert-danger">
<s><b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Seperate your data loading into different code cells from other data action.
    
**Hint:**
    
***
**CELL 1**
```python

    # Load the data
    df = pd.read_csv('/datasets/credit_scoring_eng.csv')
    
    
```
***
**CELL 2**
```python

    df.describe()
    
    
```
***
    
Doing this will avoid the mistake of reloading the data again, when you try to run an action embedded in the same cell.
</div>

<div class="alert alert-block alert-warning">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>
    


Lets fix this.
    
To implement here is what we can improve.
    
1. The changes should be done on the `Code` Cell; so you make changes in the cell that the comment references and not creating a new cell.
    
    
2. Changes are meant to be made in code; that actually fix the data problem. So you don't need to apply them in a `Markdown`cell.
    
    
**KINDLY FIX THIS ACROSS ALL CELLS**

<div class="alert alert-block alert-success">
<b>Reviewer's comment v3</b> <a class="tocSkip"></a>
    


Brilliantly done

Print the first 10 table rows:

In [7]:
display(df.head(10))# obtaining the first 10 rows from the df table

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas R√∂nnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funicul√¨ funicul√†,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
5,842029A1,Chains,Obladaet,rusrap,Shelbyville,13:09:41,Friday
6,4CB90AA5,True,Roman Messer,dance,Springfield,13:00:07,Wednesday
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Springfield,20:47:49,Wednesday
8,8FA1D3BE,L‚Äôestate,Julia Dalia,ruspop,Springfield,09:17:40,Friday
9,E772D5C0,Pessimist,NaN,dance,Shelbyville,21:20:49,Wednesday

<div class="alert alert-block alert-warning">
<s><b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Instead of using `print()` on a dataFrame , you can leverage `display()` function to have fine format of table output.

<div class="alert alert-block alert-success">
<b>Reviewer's comment v3</b> <a class="tocSkip"></a>
    


Excellent

Obtaining the general information about the table with one command:

In [8]:
df.info()# obtaining general information about the data in df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0     userID  65079 non-null  object
 1   Track     63736 non-null  object
 2   artist    57512 non-null  object
 3   genre     63881 non-null  object
 4     City    65079 non-null  object
 5   time      65079 non-null  object
 6   Day       65079 non-null  object
dtypes: object(7)
memory usage: 3.5+ MB

The table contains seven columns. They all store the same data type: `object`.

According to the documentation:
- `'userID'` ‚Äî user identifier
- `'Track'` ‚Äî track title
- `'artist'` ‚Äî artist's name
- `'genre'`
- `'City'` ‚Äî user's city
- `'time'` ‚Äî the exact time the track was played
- `'Day'` ‚Äî day of the week

We can see three issues with style in the column names:
1. Some names are uppercase, some are lowercase.
2. There are spaces in some names.
3. `Detect the third issue yourself and describe it here`.Names have several words, badly structured tables where the column data not in the line/level.

The number of column values is different. This means the data contains missing values.

<div class="alert alert-block alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>
    
Excellent overview of the data using the `.info()` and  `.describe()` pandas method. ‚úÖ

### Conclusions <a id='data_review_conclusions'></a> 

Each row in the table stores data on a track that was played. Some columns describe the track itself: its title, artist and genre. The rest convey information about the user: the city they come from, the time they played the track. 

It's clear that the data is sufficient to test the hypotheses. However, there are missing values.

To move forward, we need to preprocess the data.

<div class="alert alert-block alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>
    
Another great work Stephanie adding a conclusion that summarises your observations and actions in this section. This is a crucial process as it aids easy flow of your work to your read. Your colleague will be proud of this action ‚úÖ . <br> A reminder that this should be added in subsequent projects.

[Back to Contents](#back)

## Stage 2. Data preprocessing <a id='data_preprocessing'></a>
Correct the formatting in the column headers and deal with the missing values. Then, check whether there are duplicates in the data.

### Header style <a id='header_style'></a>
Print the column header:

In [9]:
print(df.columns)# the list of column names in the df table

Index(['  userID', 'Track', 'artist', 'genre', '  City  ', 'time', 'Day'], dtype='object')

Change column names according to the rules of good style:
* If the name has several words, use snake_case
* All characters must be lowercase
* Delete spaces

In [10]:
df=df.rename(columns={
    '  userID':'user_id',
    'Track':'track',
    '  City  ':'city',
    'Day':'day'
})# renaming columns

<div class="alert alert-block alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>
    
Very good action fixing column names with the final naming in snake_case ‚úÖ

Check the result. Print the names of the columns once more:

In [11]:
print(df.columns)# checking result: the list of column names

Index(['user_id', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')

[Back to Contents](#back)

### Missing values <a id='missing_values'></a>
First, find the number of missing values in the table. To do so, use two `pandas` methods:

In [12]:
print(df.isna().sum())# calculating missing values

user_id       0
track      1343
artist     7567
genre      1198
city          0
time          0
day           0
dtype: int64

<div class="alert alert-block alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>
    
Checking missing values is a very good action. Welldone for doing so ‚úÖ

Not all missing values affect the research. For instance, the missing values in `track` and `artist` are not critical. You can simply replace them with clear markers.

But missing values in `'genre'` can affect the comparison of music preferences in Springfield and Shelbyville. In real life, it would be useful to learn the reasons why the data is missing and try to make up for them. But we do not have that opportunity in this project. So you will have to:
* Fill in these missing values with markers
* Evaluate how much the missing values may affect your computations

Replace the missing values in `'track'`, `'artist'`, and `'genre'` with the string `'unknown'`. To do this, create the `columns_to_replace` list, loop over it with `for`, and replace the missing values in each of the columns:

In [13]:
for column in ['track','artist','genre']:
          df[column] = df[column].fillna('unknown')

<div class="alert alert-block alert-warning">
<s><b>Reviewer's comment v2</b> <a class="tocSkip"></a>
    
Good fix of the missing value Stephanie. <br> Lets make this code more optimal.
    
    
    
```python
    
    for column in ['track','artist','genre']:
          df[column] = df[column].fillna('unknown')
    
    
```
    
Instead of looping through the dataframe; you can loop through the list and make changes on the data frame based on each item in the list

<div class="alert alert-block alert-success">
<b>Reviewer's comment v3</b> <a class="tocSkip"></a>
    


Thank you for fixing this Stephanie

Make sure the table contains no more missing values. Count the missing values again.

In [14]:
print(df.isna().sum())# counting missing values

user_id    0
track      0
artist     0
genre      0
city       0
time       0
day        0
dtype: int64

<div class="alert alert-block alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>
    
I like the fact that you checked your missing values after filling them. Great validation skills you have there.  ‚úÖ

[Back to Contents](#back)

### Duplicates <a id='duplicates'></a>
Find the number of obvious duplicates in the table using one command:

In [15]:
print(df.duplicated().sum())# counting clear duplicates

3826

Call the `pandas` method for getting rid of obvious duplicates:

In [16]:
df = df.drop_duplicates().reset_index(drop=True)# removing obvious duplicates

<div class="alert alert-block alert-danger">
<s><b>Reviewer's comment v1</b> <a class="tocSkip"></a>
       
    
**Serious mistake 1**: 
You dropped duplicates without reset index.
    
```python
    df = df.drop_duplicates()
```
While the above code seems to work, there are some draw backs using it.
  
1. The previous index is not reset. This means that the index range 0 to n, would no longer be uniform/ continous. This might cause issues with aggregation functions in subsequent analysis.
    
2. If you reset the index with dropping the old one. You'll notice that the previous index would become a new column. You need to remove this column.

    
Use this [link](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html) to update you Jupyter notebook. Make sure you set the parameter `drop=True`.
</div>

<div class="alert alert-block alert-success">
<b>Reviewer's comment v3</b> <a class="tocSkip"></a>
    

Brilliant

Count obvious duplicates once more to make sure you have removed all of them:

In [17]:
print(df.duplicated().sum())# checking for duplicates

0

Now get rid of implicit duplicates in the `genre` column. For example, the name of a genre can be written in different ways. Such errors will also affect the result.

Print a list of unique genre names, sorted in alphabetical order. To do so:
* Retrieve the intended DataFrame column 
* Apply a sorting method to it
* For the sorted column, call the method that will return all unique column values

In [18]:
unique_genre_sort=sorted(df['genre'].unique())# viewing unique genre namesorting method
print(unique_genre_sort)

['acid', 'acoustic', 'action', 'adult', 'africa', 'afrikaans', 'alternative', 'ambient', 'americana', 'animated', 'anime', 'arabesk', 'arabic', 'arena', 'argentinetango', 'art', 'audiobook', 'avantgarde', 'ax√©', 'baile', 'balkan', 'beats', 'bigroom', 'black', 'bluegrass', 'blues', 'bollywood', 'bossa', 'brazilian', 'breakbeat', 'breaks', 'broadway', 'cantautori', 'cantopop', 'canzone', 'caribbean', 'caucasian', 'celtic', 'chamber', 'children', 'chill', 'chinese', 'choral', 'christian', 'christmas', 'classical', 'classicmetal', 'club', 'colombian', 'comedy', 'conjazz', 'contemporary', 'country', 'cuban', 'dance', 'dancehall', 'dancepop', 'dark', 'death', 'deep', 'deutschrock', 'deutschspr', 'dirty', 'disco', 'dnb', 'documentary', 'downbeat', 'downtempo', 'drum', 'dub', 'dubstep', 'eastern', 'easy', 'electronic', 'electropop', 'emo', 'entehno', 'epicmetal', 'estrada', 'ethnic', 'eurofolk', 'european', 'experimental', 'extrememetal', 'fado', 'film', 'fitness', 'flamenco', 'folk', 'folklore', 'folkmetal', 'folkrock', 'folktronica', 'forr√≥', 'frankreich', 'franz√∂sisch', 'french', 'funk', 'future', 'gangsta', 'garage', 'german', 'ghazal', 'gitarre', 'glitch', 'gospel', 'gothic', 'grime', 'grunge', 'gypsy', 'handsup', "hard'n'heavy", 'hardcore', 'hardstyle', 'hardtechno', 'hip', 'hip-hop', 'hiphop', 'historisch', 'holiday', 'hop', 'horror', 'house', 'idm', 'independent', 'indian', 'indie', 'indipop', 'industrial', 'inspirational', 'instrumental', 'international', 'irish', 'jam', 'japanese', 'jazz', 'jewish', 'jpop', 'jungle', 'k-pop', 'karadeniz', 'karaoke', 'kayokyoku', 'korean', 'laiko', 'latin', 'latino', 'leftfield', 'local', 'lounge', 'loungeelectronic', 'lovers', 'malaysian', 'mandopop', 'marschmusik', 'meditative', 'mediterranean', 'melodic', 'metal', 'metalcore', 'mexican', 'middle', 'minimal', 'miscellaneous', 'modern', 'mood', 'mpb', 'muslim', 'native', 'neoklassik', 'neue', 'new', 'newage', 'newwave', 'nu', 'nujazz', 'numetal', 'oceania', 'old', 'opera', 'orchestral', 'other', 'piano', 'pop', 'popelectronic', 'popeurodance', 'post', 'posthardcore', 'postrock', 'power', 'progmetal', 'progressive', 'psychedelic', 'punjabi', 'punk', 'quebecois', 'ragga', 'ram', 'rancheras', 'rap', 'rave', 'reggae', 'reggaeton', 'regional', 'relax', 'religious', 'retro', 'rhythm', 'rnb', 'rnr', 'rock', 'rockabilly', 'romance', 'roots', 'ruspop', 'rusrap', 'rusrock', 'salsa', 'samba', 'schlager', 'self', 'sertanejo', 'shoegazing', 'showtunes', 'singer', 'ska', 'slow', 'smooth', 'soul', 'soulful', 'sound', 'soundtrack', 'southern', 'specialty', 'speech', 'spiritual', 'sport', 'stonerrock', 'surf', 'swing', 'synthpop', 's√§ngerportrait', 'tango', 'tanzorchester', 'taraftar', 'tech', 'techno', 'thrash', 'top', 'traditional', 'tradjazz', 'trance', 'tribal', 'trip', 'triphop', 'tropical', 't√ºrk', 't√ºrk√ße', 'unknown', 'urban', 'uzbek', 'vari√©t√©', 'vi', 'videogame', 'vocal', 'western', 'world', 'worldbeat', '√Ø√Æ√Ø']

<div class="alert alert-block alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Good Job, sorting a list or even a DataFrame/Series make it easier to find and access information of `hiphop`s in the dataset.
</div>

Look through the list to find implicit duplicates of the genre `hiphop`. These could be names written incorrectly or alternative names of the same genre.

You will see the following implicit duplicates:
* `hip`
* `hop`
* `hip-hop`

To get rid of them, declare the function `replace_wrong_genres()` with two parameters: 
* `wrong_genres=` ‚Äî the list of duplicates
* `correct_genre=` ‚Äî the string with the correct value

The function should correct the names in the `'genre'` column from the `df` table, i.e. replace each value from the `wrong_genres` list with the value in `correct_genre`.

In [19]:
def replace_wrong_genres(wrong_genres, correct_genre):
    for genre in wrong_genres:
        df['genre'].replace(genre,correct_genres, inplace=True)# function for replacing implicit duplicates

Call `replace_wrong_genres()` and pass it arguments so that it clears implicit duplcates (`hip`, `hop`, and `hip-hop`) and replaces them with `hiphop`:

In [20]:
duplicates_wrong_genres = ['hip', 'hop', 'hip-hop']
correct_genres = 'hiphop'

replace_wrong_genres(duplicates_wrong_genres, correct_genres)

<div class="alert alert-block alert-danger">
<s><b>Reviewer's comment v1</b> <a class="tocSkip"></a>

After defining a function using `def`; you need to call using the function name.
    
In our case; we call the function doing the following;

```python
    
    replace_wrong_genres(duplicates_wrong_genres , correct_genres)
    
    
```
    
So you do not need to define the function again; as this has been done in the previous cell.
</div>

<div class="alert alert-block alert-success">
<b>Reviewer's comment v3</b> <a class="tocSkip"></a>
    

Well fixed

Make sure the duplicate names were removed. Print the list of unique values from the `'genre'` column:

In [21]:
print(sorted(df['genre'].unique()))# checking for implicit duplicates

['acid', 'acoustic', 'action', 'adult', 'africa', 'afrikaans', 'alternative', 'ambient', 'americana', 'animated', 'anime', 'arabesk', 'arabic', 'arena', 'argentinetango', 'art', 'audiobook', 'avantgarde', 'ax√©', 'baile', 'balkan', 'beats', 'bigroom', 'black', 'bluegrass', 'blues', 'bollywood', 'bossa', 'brazilian', 'breakbeat', 'breaks', 'broadway', 'cantautori', 'cantopop', 'canzone', 'caribbean', 'caucasian', 'celtic', 'chamber', 'children', 'chill', 'chinese', 'choral', 'christian', 'christmas', 'classical', 'classicmetal', 'club', 'colombian', 'comedy', 'conjazz', 'contemporary', 'country', 'cuban', 'dance', 'dancehall', 'dancepop', 'dark', 'death', 'deep', 'deutschrock', 'deutschspr', 'dirty', 'disco', 'dnb', 'documentary', 'downbeat', 'downtempo', 'drum', 'dub', 'dubstep', 'eastern', 'easy', 'electronic', 'electropop', 'emo', 'entehno', 'epicmetal', 'estrada', 'ethnic', 'eurofolk', 'european', 'experimental', 'extrememetal', 'fado', 'film', 'fitness', 'flamenco', 'folk', 'folklore', 'folkmetal', 'folkrock', 'folktronica', 'forr√≥', 'frankreich', 'franz√∂sisch', 'french', 'funk', 'future', 'gangsta', 'garage', 'german', 'ghazal', 'gitarre', 'glitch', 'gospel', 'gothic', 'grime', 'grunge', 'gypsy', 'handsup', "hard'n'heavy", 'hardcore', 'hardstyle', 'hardtechno', 'hiphop', 'historisch', 'holiday', 'horror', 'house', 'idm', 'independent', 'indian', 'indie', 'indipop', 'industrial', 'inspirational', 'instrumental', 'international', 'irish', 'jam', 'japanese', 'jazz', 'jewish', 'jpop', 'jungle', 'k-pop', 'karadeniz', 'karaoke', 'kayokyoku', 'korean', 'laiko', 'latin', 'latino', 'leftfield', 'local', 'lounge', 'loungeelectronic', 'lovers', 'malaysian', 'mandopop', 'marschmusik', 'meditative', 'mediterranean', 'melodic', 'metal', 'metalcore', 'mexican', 'middle', 'minimal', 'miscellaneous', 'modern', 'mood', 'mpb', 'muslim', 'native', 'neoklassik', 'neue', 'new', 'newage', 'newwave', 'nu', 'nujazz', 'numetal', 'oceania', 'old', 'opera', 'orchestral', 'other', 'piano', 'pop', 'popelectronic', 'popeurodance', 'post', 'posthardcore', 'postrock', 'power', 'progmetal', 'progressive', 'psychedelic', 'punjabi', 'punk', 'quebecois', 'ragga', 'ram', 'rancheras', 'rap', 'rave', 'reggae', 'reggaeton', 'regional', 'relax', 'religious', 'retro', 'rhythm', 'rnb', 'rnr', 'rock', 'rockabilly', 'romance', 'roots', 'ruspop', 'rusrap', 'rusrock', 'salsa', 'samba', 'schlager', 'self', 'sertanejo', 'shoegazing', 'showtunes', 'singer', 'ska', 'slow', 'smooth', 'soul', 'soulful', 'sound', 'soundtrack', 'southern', 'specialty', 'speech', 'spiritual', 'sport', 'stonerrock', 'surf', 'swing', 'synthpop', 's√§ngerportrait', 'tango', 'tanzorchester', 'taraftar', 'tech', 'techno', 'thrash', 'top', 'traditional', 'tradjazz', 'trance', 'tribal', 'trip', 'triphop', 'tropical', 't√ºrk', 't√ºrk√ße', 'unknown', 'urban', 'uzbek', 'vari√©t√©', 'vi', 'videogame', 'vocal', 'western', 'world', 'worldbeat', '√Ø√Æ√Ø']

<div class="alert alert-block alert-danger">
<s><b>Reviewer's comment v1</b> <a class="tocSkip"></a>

You need to sort this values; to verify that you actually fix the issue of implicit duplicate in `hip-hop`
</div>

<div class="alert alert-block alert-success">
<b>Reviewer's comment v3</b> <a class="tocSkip"></a>
    

Well fixed

[Back to Contents](#back)

### Conclusions <a id='data_preprocessing_conclusions'></a>
We detected three issues with the data:

- Incorrect header styles
- Missing values
- Obvious and implicit duplicates

The headers have been cleaned up to make processing the table simpler.

All missing values have been replaced with `'unknown'`. But we still have to see whether the missing values in `'genre'` will affect our calculations.

The absence of duplicates will make the results more precise and easier to understand.

Now we can move on to testing hypotheses.

[Back to Contents](#back)

## Stage 3. Testing hypotheses <a id='hypotheses'></a>

### Hypothesis 1: comparing user behavior in two cities <a id='activity'></a>

According to the first hypothesis, users from Springfield and Shelbyville listen to music differently. Test this using the data on three days of the week: Monday, Wednesday, and Friday.

* Divide the users into groups by city.
* Compare how many tracks each group played on Monday, Wednesday, and Friday.

For the sake of practice, perform each computation separately. 

Evaluate user activity in each city. Group the data by city and find the number of songs played in each group.

In [22]:
df.groupby('city').count()['track']# Counting up the tracks played in each city

city
Shelbyville    18512
Springfield    42741
Name: track, dtype: int64

<div class="alert alert-block alert-warning">
<s><b>Reviewer's comment v1</b> <a class="tocSkip"></a>
    
After grouping your values; you need to index into the column you want to get the aggregated calculations for. 
    
    
In this example; you are finding the number of music in each day; so you can groupby by `city` and count value in `track`. so you can just index the `track` which is enough to give you th desired value.
    
    
    
```python
    
    df.groupby('city').count()['track']
    
    
```

Springfield has more tracks played than Shelbyville. But that does not imply that citizens of Springfield listen to music more often. This city is simply bigger, and there are more users.

Now group the data by day of the week and find the number of tracks played on Monday, Wednesday, and Friday.

In [23]:
df.groupby('day').count()['track']# Calculating tracks played on each of the three days

day
Friday       21840
Monday       21354
Wednesday    18059
Name: track, dtype: int64

<div class="alert alert-block alert-warning">
<s><b>Reviewer's comment v1</b> <a class="tocSkip"></a>
    
After grouping your values; you need to index into the column you want to get the aggregated calculations for. 
    
    
In this example; you are finding the number of music in each day; so you can groupby by `day` and count value in `track`. so you can just index the `track` which is enough to give you th desired value.
    
    
    
```python
    
    df.groupby('day').count()['track']
    
    
```

Wednesday is the quietest day overall. But if we consider the two cities separately, we might come to a different conclusion.

You have seen how grouping by city or day works. Now write a function that will group by both.

Create the `number_tracks()` function to calculate the number of songs played for a given day and city. It will require two parameters:
* day of the week
* name of the city

In the function, use a variable to store the rows from the original table, where:
  * `'day'` column value is equal to the `day` parameter
  * `'city'` column value is equal to the `city` parameter

Apply consecutive filtering with logical indexing.

Then calculate the `'user_id'` column values in the resulting table. Store the result to a new variable. Return this variable from the function.

In [24]:
def number_tracks(city, day):
    filtered_df = df[(df['city'] == city) & (df['day'] == day)]
    num_tracks = filtered_df['track'].count()

    return num_tracks

<div class="alert alert-block alert-danger">
<s><b>Reviewer's comment v1</b> <a class="tocSkip"></a>
    
You did well with your calculations; which is commendable. <br> However; you need to **create a function** that takes in 2 inputs `city` and `day`. This will make reusablity of repeated actions.
    
Remember that you can create a function in python using `def`

<div class="alert alert-block alert-success">
<b>Reviewer's comment v3</b> <a class="tocSkip"></a>
    

Well fixed

city = 'Springfield'
day = 'Monday'
num_tracks = number_tracks(city, day)
print(num_tracks)

Call `number_tracks()` six times, changing the parameter values, so that you retrieve the data on both cities for each of the three days.

In [25]:
city = 'Springfield'
day = 'Monday'
num_tracks = number_tracks(city, day)
print(num_tracks)

# the number of songs played in Springfield on Monday

15740

In [26]:
city = 'Shelbyville'
day = 'Monday'
num_tracks = number_tracks(city, day)
print(num_tracks)# the number of songs played in Shelbyville on Monday

5614

In [27]:
city = 'Springfield'
day = 'Wednesday'
num_tracks = number_tracks(city, day)
print(num_tracks)# the number of songs played in Springfield on Wednesday

11056

In [28]:
city = 'Shelbyville'
day = 'Wednesday'
num_tracks = number_tracks(city, day)
print(num_tracks)# the number of songs played in Shelbyville on Wednesday

7003

In [29]:
city = 'Springfield'
day = 'Friday'
num_tracks = number_tracks(city, day)
print(num_tracks)# the number of songs played in Springfield on Friday

15945

In [30]:
city = 'Shelbyville'
day = 'Friday'
num_tracks = number_tracks(city, day)
print(num_tracks)# the number of songs played in Shelbyville on Friday

5895

<div class="alert alert-block alert-danger">
<s><b>Reviewer's comment v1</b> <a class="tocSkip"></a>
    
All calculations should be done using a function. 

Check out how function works with python 
    
* https://www.guru99.com/functions-in-python.html

<div class="alert alert-block alert-success">
<b>Reviewer's comment v3</b> <a class="tocSkip"></a>
    

You did incredible well

Use `pd.DataFrame` to create a table, where
* Column names are: `['city', 'monday', 'wednesday', 'friday']`
* The data is the results you got from `number_tracks()`

In [31]:
import pandas as pd

tracks = [
          ['Springfield',15740,11056,15945],
          ['Shelbyville',5614,7003,5895],
]

column_names=['city','monday', 'wednesday', 'friday']
number_tracks = pd.DataFrame(data=tracks , columns=column_names)

print(number_tracks )


    # table with results

          city  monday  wednesday  friday
0  Springfield   15740      11056   15945
1  Shelbyville    5614       7003    5895

<div class="alert alert-block alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

I commend you for create the needed dataframe. Keep it up.
</div>

<div class="alert alert-block alert-warning">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Here is a better to use the dynamics function you create in the previous section to represent the number of user instead of hard-coding this value. This is because the dataset can always be changed, but we can be assured that our table would always give the correct values.
</div>

**Conclusions**

The data reveals differences in user behavior:

- In Springfield, the number of songs played peaks on Mondays and Fridays, while on Wednesday there is a decrease in activity.
- In Shelbyville, on the contrary, users listen to music more on Wednesday. User activity on Monday and Friday is smaller.

So the first hypothesis seems to be correct.

[Back to Contents](#back)

### Hypothesis 2: music at the beginning and end of the week <a id='week'></a>

According to the second hypothesis, on Monday morning and Friday night, citizens of Springfield listen to genres that differ from ones users from Shelbyville enjoy.

Get tables (make sure that the name of your combined table matches the DataFrame given in the two code blocks below):
* For Springfield ‚Äî `spr_general`
* For Shelbyville ‚Äî `shel_general`

In [32]:
spr_general = df[df['city']=='Springfield']
display(spr_general)# where the value in the 'city' column is 'Springfield'

,user_id,track,artist,genre,city,time,day
1,55204538,Delayed Because of Accident,Andreas R√∂nnberg,rock,Springfield,14:07:09,Friday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
6,4CB90AA5,True,Roman Messer,dance,Springfield,13:00:07,Wednesday
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Springfield,20:47:49,Wednesday
8,8FA1D3BE,L‚Äôestate,Julia Dalia,ruspop,Springfield,09:17:40,Friday
...,...,...,...,...,...,...,...
61247,83A474E7,I Worship Only What You Bleed,The Black Dahlia Murder,extrememetal,Springfield,21:07:12,Monday
61248,729CBB09,My Name,McLean,rnb,Springfield,13:32:28,Wednesday
61250,C5E3A0D5,Jalopiina,unknown,industrial,Springfield,20:09:26,Friday
61251,321D0506,Freight Train,Chas McDevitt,rock,Springfield,21:43:59,Friday
61252,3A64EF84,Tell Me Sweet Little Lies,Monica Lopez,country,Springfield,21:59:46,Friday

<div class="alert alert-block alert-danger">
<s><b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Firsly; all data importation should be done in the top cell. So it becomes redundant if you import `pandas` again because it had already been imported. 
    
    
In addition; the objective of this section needs you to filter just city with the name `Springfield`; as such you do not need to create a new dataFrame to do that. Filtering in pandas can simply be done by selecting the rows based on condition.
    
    
Checkout this resources;
    
* https://www.geeksforgeeks.org/ways-to-filter-pandas-dataframe-by-column-values/    
</div>

<div class="alert alert-block alert-warning">
<b>Reviewer's comment v3</b> <a class="tocSkip"></a>

Instead of using `print()` on a dataFrame , you can leverage `display()` function to have fine format of table output.

In [41]:
shel_general = df[df['city']=='Shelbyville']
display(shel_general)# where the value in the 'city' column is 'Shelbyville'

,user_id,track,artist,genre,city,time,day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
2,20EC38,Funicul√¨ funicul√†,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
5,842029A1,Chains,Obladaet,rusrap,Shelbyville,13:09:41,Friday
9,E772D5C0,Pessimist,unknown,dance,Shelbyville,21:20:49,Wednesday
...,...,...,...,...,...,...,...
61239,D94F810B,Theme from the Walking Dead,Proyecto Halloween,film,Shelbyville,21:14:40,Monday
61240,BC8EC5CF,Red Lips: Gta (Rover Rework),Rover,electronic,Shelbyville,21:06:50,Monday
61241,29E04611,Bre Petrunko,Perunika Trio,world,Shelbyville,13:56:00,Monday
61242,1B91C621,(Hello) Cloud Mountain,sleepmakeswaves,postrock,Shelbyville,09:22:13,Monday
61249,D08D4A55,Maybe One Day (feat. Black Spade),Blu & Exile,hiphop,Shelbyville,10:00:00,Monday

<div class="alert alert-block alert-danger">
<S><b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Same comment as the previous
</div>

<div class="alert alert-block alert-warning">
<b>Reviewer's comment v3</b> <a class="tocSkip"></a>

Instead of using `print()` on a dataFrame , you can leverage `display()` function to have fine format of table output.

Write the `genre_weekday()` function with four parameters:
* A table for data (`df`)
* The day of the week (`day`)
* The first timestamp, in 'hh:mm' format (`time1`)
* The last timestamp, in 'hh:mm' format (`time2`)

The function should return info on the 15 most popular genres on a given day within the period between the two timestamps.

In [34]:
def genre_weekday(df, city, day, time1, time2):
    genre_df = df[(df['city'] == city) & (df['day'] == day) & (df['time'] >= time1) & (df['time'] <= time2)]

    genre_counts = genre_df['genre'].value_counts().head(15)

    return genre_counts

<div class="alert alert-block alert-danger">
<S><b>Reviewer's comment v1</b> <a class="tocSkip"></a>
    
You need to create a  **create a function** for effective reusability of the calculations

<div class="alert alert-block alert-success">
<b>Reviewer's comment v3</b> <a class="tocSkip"></a>

Well fixed

Compare the results of the `genre_weekday()` function for Springfield and Shelbyville on Monday morning (from 7AM to 11AM) and on Friday evening (from 17:00 to 23:00):

In [35]:
city = 'Springfield'
day = 'Monday'
time1 = '07:00'
time2 = '11:00'
result = genre_weekday(df, city, day, time1, time2)
print(result)

pop            781
dance          549
electronic     480
rock           474
hiphop         286
ruspop         186
world          181
rusrap         175
alternative    164
unknown        161
classical      157
metal          120
jazz           100
folk            97
soundtrack      95
Name: genre, dtype: int64

In [36]:
# calling the function for Monday morning in Shelbyville (use shel_general instead of the df table)
city = 'Shelbyville'
day = 'Monday'
time1 = '07:00'
time2 = '11:00'
result = genre_weekday(df, city, day, time1, time2)
print(result)

pop            218
dance          182
rock           162
electronic     147
hiphop          80
ruspop          64
alternative     58
rusrap          55
jazz            44
classical       40
world           36
rap             32
soundtrack      31
rnb             27
metal           27
Name: genre, dtype: int64

In [37]:
# calling the function for Friday evening in Springfield
city = 'Springfield'
day = 'Friday'
time1 = '17:00'
time2 = '23:00'
result = genre_weekday(df, city, day, time1, time2)
print(result)

pop            713
rock           517
dance          495
electronic     482
hiphop         273
world          208
ruspop         170
alternative    163
classical      163
rusrap         142
jazz           111
unknown        110
soundtrack     105
rnb             90
metal           88
Name: genre, dtype: int64

In [38]:
# calling the function for Friday evening in Shelbyville
city = 'Shelbyville'
day = 'Friday'
time1 = '17:00'
time2 = '23:00'
result = genre_weekday(df, city, day, time1, time2)
print(result)

pop            256
rock           216
electronic     216
dance          210
hiphop          97
alternative     63
jazz            61
classical       60
rusrap          59
world           54
unknown         47
ruspop          47
soundtrack      40
metal           39
rap             36
Name: genre, dtype: int64

<div class="alert alert-block alert-danger">
<s><b>Reviewer's comment v1</b> <a class="tocSkip"></a>
    
Kindly checkout the use of a function to calculate this values

<div class="alert alert-block alert-success">
<b>Reviewer's comment v3</b> <a class="tocSkip"></a>

Well Fixed

**Conclusion**

Having compared the top 15 genres on Monday morning, we can draw the following conclusions:

1. Users from Springfield and Shelbyville listen to similar music. The top five genres are the same, only rock and electronic have switched places.

2. In Springfield, the number of missing values turned out to be so big that the value `'unknown'` came in 10th. This means that missing values make up a considerable portion of the data, which may be a basis for questioning the reliability of our conclusions.

For Friday evening, the situation is similar. Individual genres vary somewhat, but on the whole, the top 15 is similar for the two cities.

Thus, the second hypothesis has been partially proven true:
* Users listen to similar music at the beginning and end of the week.
* There is no major difference between Springfield and Shelbyville. In both cities, pop is the most popular genre.

However, the number of missing values makes this result questionable. In Springfield, there are so many that they affect our top 15. Were we not missing these values, things might look different.

[Back to Contents](#back)

### Hypothesis 3: genre preferences in Springfield and Shelbyville <a id='genre'></a>

Hypothesis: Shelbyville loves rap music. Springfield's citizens are more into pop.

Group the `spr_general` table by genre and find the number of songs played for each genre with the `count()` method. Then sort the result in descending order and store it to `spr_genres`.

In [46]:
spr_genres=spr_general.groupby('genre').count()['track'].sort_values(ascending=False)
print(spr_genres)

genre
pop            5892
dance          4435
rock           3965
electronic     3786
hiphop         2096
               ...
metalcore         1
marschmusik       1
malaysian         1
lovers            1
√Ø√Æ√Ø               1
Name: track, Length: 250, dtype: int64

<div class="alert alert-block alert-danger">
<s><b>Reviewer's comment v1</b> <a class="tocSkip"></a>
    
If the previous sections are done correctly;


You don not need to create a new value for `spr_general`

Print the first 10 rows from `spr_genres`:

In [47]:
print(spr_genres.head(10))# printing the first 10 rows of spr_genres

genre
pop            5892
dance          4435
rock           3965
electronic     3786
hiphop         2096
classical      1616
world          1432
alternative    1379
ruspop         1372
rusrap         1161
Name: track, dtype: int64

<div class="alert alert-block alert-success">
<b>Reviewer's comment v3</b> <a class="tocSkip"></a>

Nicely done

Now do the same with the data on Shelbyville.

Group the `shel_general` table by genre and find the number of songs played for each genre. Then sort the result in descending order and store it to the `shel_genres` table:

In [48]:
shel_genres=shel_general.groupby('genre').count()['track'].sort_values(ascending=False)
print(shel_genres)

genre
pop           2431
dance         1932
rock          1879
electronic    1736
hiphop         960
              ...
mandopop         1
leftfield        1
laiko            1
jungle           1
worldbeat        1
Name: track, Length: 202, dtype: int64

<div class="alert alert-block alert-danger">
<s><b>Reviewer's comment v1</b> <a class="tocSkip"></a>
    
If the previous sections are done correctly;


You don not need to create a new value for `shel_general`

Print the first 10 rows of `shel_genres`:

In [49]:
print(shel_genres.head(10))# printing the first 10 rows from shel_genres

genre
pop            2431
dance          1932
rock           1879
electronic     1736
hiphop          960
alternative     649
classical       646
rusrap          564
ruspop          538
world           515
Name: track, dtype: int64

**Conclusion**

The hypothesis has been partially proven true:
* Pop music is the most popular genre in Springfield, as expected.
* However, pop music turned out to be equally popular in Springfield and Shelbyville, and rap wasn't in the top 5 for either city.

[Back to Contents](#back)

# Findings <a id='end'></a>

We have tested the following three hypotheses:

1. User activity differs depending on the day of the week and from city to city. 
2. On Monday mornings, Springfield and Shelbyville residents listen to different genres. This is also true for Friday evenings. 
3. Springfield and Shelbyville listeners have different preferences. In both Springfield and Shelbyville, they prefer pop.

After analyzing the data, we concluded:

1. User activity in Springfield and Shelbyville depends on the day of the week, though the cities vary in different ways. 

The first hypothesis is fully accepted.

2. Musical preferences do not vary significantly over the course of the week in both Springfield and Shelbyville. We can see small differences in order on Mondays, but:
* In Springfield and Shelbyville, people listen to pop music most.

So we can't accept this hypothesis. We must also keep in mind that the result could have been different if not for the missing values.

3. It turns out that the musical preferences of users from Springfield and Shelbyville are quite similar.

The third hypothesis is rejected. If there is any difference in preferences, it cannot be seen from this data.

### Note 
In real projects, research involves statistical hypothesis testing, which is more precise and more quantitative. Also note that you cannot always draw conclusions about an entire city based on the data from just one source.

You will study hypothesis testing in the sprint on statistical data analysis.

[Back to Contents](#back)

<div class="alert alert-warning"; style="border-left: 10px solid warning">

<b>Overall Reviewer's Comment v1</b> <a class="tocSkip"></a>

Thank you Stephanie for sending your project.
    
Good job on your project; you did really incredible!
It's obvious that you have done loads of work into this project with excellent knowledge in basic Pandas.
    
However, there are a few critical changes I'd suggest. 

* Fix issues in solving duplicate data, more comment has been spelt out in the section. <br>
* Fix issues in filtering a dataframe. <br>
* Correctly create and call a function. <br>
* In addition, i have added other comments in **yellow/red** you should look at.. <br>
 **Section:**
[Duplicates](#duplicates) 

Could you look it over and send it in again so I can take another look?
I believe you've got this. <br>
Good luck, and don't forget that you can always reach out to your tutor for more questions! 
    
    
![gif](https://media.giphy.com/media/OZbGrdp7FiDiE/giphy.gif)  
  

</div>

<div class="alert alert-warning"; style="border-left: 10px solid warning">

<b>Overall Reviewer's Comment v2</b> <a class="tocSkip"></a>

Thank you Stephanie for sending your project.
    
However, your project is not ready for full review due to the fact that your changes were not well implemented in the code cell.
    
For fix; you should;
    
1. The changes should be done on the `Code` Cell; so you make changes in the cell that the comment references and not creating a new cell.
    
    
2. Changes are meant to be made in code; that actually fix the data problem. So you don't need to apply them in a `Markdown`cell.
    
    
![gif](https://media.giphy.com/media/l4FGvTHYa4vTqu3L2/giphy.gif)  

  

</div>

<div class="alert alert-warning"; style="border-left: 10px solid warning">

<b>Overall Reviewer's Comment v3</b> <a class="tocSkip"></a>

Hello Stephanie; i see you are having issues in understanding what i meant in the previous session.
    
    
The essence of a feedback is to ensure that you make corrections in your original code that fits a real professional working environment standard. 
    
    
Meaning this changes should be effected in your main code and not written in a new markdown cell as a comment. This will make it possible for you to run the changes and see the implementations for yourself. :)
    

Hope this helps.
    
    
If you are having issues with this process. You can always reach out to your Tutors.
    
You got this!!üí™üèª
    

  

</div>

<div class="alert alert-success"; style="border-left: 10px solid warning">

<b>Overall Reviewer's Comment V4</b> <a class="tocSkip"></a>

Congratulations Stephanie on completing your project. You have shown great resilience and persistence in your project. In addition; your analytics approach is top-notched and nicely done.
    
Keep up the amazing work üëè!!
    
&nbsp;
    
Good luck in future projects as you continue your journey in becoming a world class Data Professional! 
    
&nbsp;
    
![gif](https://media.giphy.com/media/3oz8xAFtqoOUUrsh7W/giphy.gif) 
    


</div>